$back-color :#57ddf8 ;
$font-color : #001d3d;
$button_color : #caf0f8;
$text_shadow : #001f54;
$button_shadow :#002c5c;
$shadow : #274080;
$alt_back: #0096c7;
$alt_font : #000814;
$button_back:#20cbdee0;